<!-- frame: cliente -->
<div class="frame cliente-1775a1369f01">
  <!-- group: Rodape -->
  <div class="group rodape-178489a14ec5">
    <!-- rect: Rodape -->
    <div class="shape rect rodape-178464d3e24d">
    </div>
  </div>
  <!-- group: Cabeçalho -->
  <div class="group cabealho-177e124f0685">
    <!-- group: Botão -->
    <div class="group boto-1781100c1615">
      <!-- rect: Fundo -->
      <div class="shape rect fundo-177642978c81">
      </div>
      <!-- group: Contato -->
      <div class="group contato-177e88337cd1">
        <!-- text: Contato -->
        <div class="shape text contato-177e93e4a105">
          <div class="text-node-html" id="html-text-node-848ebe20-9073-8025-8008-177e93e4a105" data-x="1082" data-y="-6865">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Contato</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- group: Sobre -->
      <div class="group sobre-177f501ddcdb">
        <!-- text: Sobre -->
        <div class="shape text sobre-177f501ddcdd">
          <div class="text-node-html" id="html-text-node-848ebe20-9073-8025-8008-177f501ddcdd" data-x="1003" data-y="-6866">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Sobre</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- group: carrinho -->
      <div class="group carrinho-177f2a3c7076">
        <!-- text: Carrinho -->
        <div class="shape text carrinho-177f2a3c7078">
          <div class="text-node-html" id="html-text-node-848ebe20-9073-8025-8008-177f2a3c7078" data-x="890" data-y="-6866">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Carrinho</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- group: Cardapio -->
      <div class="group cardapio-177eb54c14a6">
        <!-- text: Cardapio -->
        <div class="shape text cardapio-177eb54c14a8">
          <div class="text-node-html" id="html-text-node-848ebe20-9073-8025-8008-177eb54c14a8" data-x="775" data-y="-6866">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Cardapio</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- group: Home -->
      <div class="group home-177eb4aa62cc">
        <!-- text: Início -->
        <div class="shape text incio-177eb4aa62ce">
          <div class="text-node-html" id="html-text-node-848ebe20-9073-8025-8008-177eb4aa62ce" data-x="697" data-y="-6866">
            <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
              <div class="paragraph-set root-0-paragraph-set-0">
                <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Início</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- group: Logo -->
    <div class="group logo-177ce25ac594">
      <!-- text: Bread Pitt -->
      <div class="shape text bread-pitt-177c5e7759bc">
        <div class="text-node-html" id="html-text-node-848ebe20-9073-8025-8008-177c5e7759bc" data-x="177.00000000000003" data-y="-6867">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Bread Pitt</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- rect: bread pitt -->
      <div class="shape rect bread-pitt-1779dbebe708">
      </div>
    </div>
  </div>
</div>
